<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ServiceEndpoint" value="http://localhost:7071/api"/>
    <add key="HostKey" value="g8Xbigh2F5ptnalmBJQ/R6Wy7F8d6AwtcjRAoAnqHtdapvAuc0wOaw=="/>
    <!--<add key="ServiceEndpoint" value="http://localhost:7071/api"/>-->
  </appSettings>
</configuration>