<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ServiceEndpoint" value="https://shippingcargolyshq.azurewebsites.net/api"/>
    <add key="HostKey" value="<<UPDATE WITH YOUR HOSTKEY>>"/>
    <!--<add key="ServiceEndpoint" value="http://localhost:7071/api"/>-->
  </appSettings>
</configuration>
