<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--<add key="ServiceEndpoint" value="https://contosocargo.azurewebsites.net/api"/>-->
    <add key="HostKey" value="3x5kFZkwQchupRfIvG4zAq6FoytJtK32zoCdriaCrWWC1zYMdWDbSA=="/>
    <add key="ServiceEndpoint" value="https://contosocargoo7x5f.azurewebsites.net/api"/>
  </appSettings>
</configuration>