<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="ServiceEndpoint" value=""/>
		<add key="HostKey" value=""/>
		<add key="ContosoCargo_Id" value=""/>
		<add key="ShipperA_Id" value=""/>
		<add key="ShipperB_Id" value=""/>
	</appSettings>
</configuration>
